.main {
  width: 100vw;
  height: 100vh;
  background-color: #343541;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .grid {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Occupies the entire viewport height */
    align-items: center; /* Optional */
  }
}
